---
interface Props {
	image: string
	text: string
	url: string
}

const { url, image, text } = Astro.props
---

<li>
	<a
		href={url}
		class="flex flex-row items-center gap-4 rounded bg-gray-950/50 p-4 shadow-lg shadow-gray-100/10 backdrop-blur-md"
	>
		<img class="size-16 rounded-sm" src={image} alt={text} />
		<p class="text-md text-pretty font-medium">
			{text}
		</p>
	</a>
</li>
