---
import { Image } from 'astro:assets'

interface Props {
	image: string
	text: string
	url: string
}

const { url, image, text } = Astro.props
---

<li>
	<a
		href={url}
		class="flex flex-row items-center gap-4 rounded bg-gray-950/50 p-4 shadow-lg shadow-gray-100/10 backdrop-blur-md"
	>
		<Image
			src={image}
			alt={text}
			class="size-16 rounded-sm"
			densities={[2]}
			format={'webp'}
			quality={20}
			width={96}
			height={96}
		/>
		<p class="text-md text-pretty font-medium">
			{text}
		</p>
	</a>
</li>
